/* header style */
#header{
    background-color: khaki;
    height: 100px;
}

/* -------style for search bar----------- */
.bgcolor{
    height: 100px;
    background-color: khaki;
}
.searchbar{
    border: 5px;
    border-color: 2px solid aqua;
    border-radius: 10px;
}


/* ------------Error handelar style---------- */
#error-handeler-1{
    display:  none;
}
#error-handeler-2{
    display:  none;
}
