/* -------style for search bar----------- */
.searchbar{
    border: 5px;
    border-color: 2px solid aqua;
    border-radius: 10px;
}


/* ------------Error handler style---------- */
#error-handeler-1{
    display:  none;
}
#error-handeler-2{
    display:  none;
}